@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.titulo-projeto {
  color: white;
  font-family: sans-serif;
}

.projects-section {
  text-align: center;
  grid-area: projects;
}

.detailed-section {
  margin-top: 4rem;
}

.projeto-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1.5rem;
}

.projeto-imagem {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 330px;
  height: 200px;
}

.projeto-imagem img {
  transition: 1s;
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projeto-imagem img:hover {
  transform: scale(1.1);
}

.imagem1 {
}
