@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.tab-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    
  }
  
  .tab-label {
    margin-right: 0.75rem;
    font-weight: 600;
    transition: color 0.3s ease;
    font-family: sans-serif;
  }
  
  .tab-button-active {
    color: white;
  }
  
  .tab-button-inactive {
    color: #adb7be;
  }
  
  .tab-label:hover {
    color: white;
  }
  
  .tab-underline {
    height: 2px;
    background-color: #1d4ed8; /* blue-700 */
    margin-top: 0.25rem;
    margin-right: 0.75rem;
  }

 